body{
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }
  
  p{
    margin: 0;
    padding: 0;
  }
  
  a{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #23A1DC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23A1DC;
}